html, body {
  background-color: #f2f2f2; }

img {
  width: 100%; }

.container {
  margin: 0 auto; }

.layui-btn.layui-btn-fluid {
  background-color: #12beb9; }

.body-padding {
  padding-bottom: 40px; }

.banner {
  width: 100%;
  height: 230px;
  background-color: #a9d9e0;
  position: relative; }
  .banner .logo {
    width: 50px;
    position: absolute;
    top: 12px;
    left: 13px; }
  .banner .banner-img {
    width: 248px;
    position: absolute;
    top: 12px;
    left: 55%;
    transform: translateX(-50%); }
  .banner .ban-bottom-img {
    width: 100%;
    position: absolute;
    bottom: 0; }
    .banner .ban-bottom-img img {
      height: 50px; }
  .banner .share {
    box-sizing: border-box;
    width: 36px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    background-color: #a9020c;
    position: absolute;
    padding: 7px 5px;
    color: #fff;
    top: 0;
    right: 13px;
    cursor: pointer; }
    .banner .share:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
      width: 0;
      height: 0;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 5px solid #a9d9e0; }

.layui-elem-field {
  margin: 0;
  border-color: #d3d3d3;
  text-align: center;
  line-height: 19px; }
  .layui-elem-field legend {
    font-weight: 600;
    font-size: 15px;
    color: #1e1a12; }

.multi-select-desc {
  padding: 4px 0 4px 12px; }
  .multi-select-desc span {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    background-color: #12beb9; }

.pk-container {
  margin: 0; }
  .pk-container .pk-item {
    cursor: pointer;
    padding: 0.625em 1em 0.625em 2.75em;
    position: relative;
    border-bottom: 1px solid #eaeaea; }
    .pk-container .pk-item .Strong-recommend {
      width: 45px;
      position: absolute;
      top: -18px;
      right: 63px; }
    .pk-container .pk-item .check-img {
      position: absolute;
      left: 1.125em;
      top: 0.875em;
      width: 14.5px; }
    .pk-container .pk-item .pk-item-title {
      margin-bottom: 4px;
      font-size: 15px;
      font-weight: 600; }
    .pk-container .pk-item .pk-item-content {
      font-size: 10px;
      color: #2d2f33; }
  .pk-container .pk-item-desc {
    position: relative;
    padding-left: 2.5em;
    display: inline-block;
    margin-top: 3px; }
    .pk-container .pk-item-desc .pk-span {
      position: absolute;
      border: 1px solid #921524;
      border-radius: 3px;
      color: #921524;
      font-size: 8px;
      padding: 0 1px;
      font-weight: 600;
      left: -1px;
      top: 1px; }
  .pk-container .price {
    position: absolute;
    right: 16px;
    font-weight: 600; }
    .pk-container .price .original-price {
      font-size: 11px;
      color: #a1a5ac;
      margin-right: 3px;
      text-decoration: line-through; }
    .pk-container .price .present-price {
      color: #9b000b;
      font-size: 17px; }
  .pk-container .layui-input-block {
    margin: 0;
    padding-left: 18px;
    background-color: #ebebeb;
    font-weight: 600;
    padding-bottom: 3px;
    padding-top: 3px;
    display: block;
    position: relative; }
    .pk-container .layui-input-block .price {
      top: 12px; }
  .pk-container .layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin: 0;
    padding: 10px 0;
    width: 100%; }
  .pk-container .layui-form-checkbox[lay-skin=primary] span {
    color: #0a0a00;
    font-size: 12px;
    float: none; }
  .pk-container .layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: transparent; }
  .pk-container .layui-form-checked[lay-skin=primary] i {
    background-color: #12beb9; }
  .pk-container .layui-form-checkbox[lay-skin=primary] i {
    float: left; }

.botton-main {
  background: url("../img/index_bg.png") no-repeat;
  background-size: cover;
  padding-bottom: 20px; }
  .botton-main .reminder {
    font-size: 10px; }
    .botton-main .reminder .dianyingpiao {
      padding: 10px 18px 5px 40px; }
      .botton-main .reminder .dianyingpiao p {
        color: #1e1a12;
        font-weight: 600;
        font-size: 14px; }
    .botton-main .reminder .wenxintishi {
      padding: 0 18px 39px 18px;
      color: #818691; }
      .botton-main .reminder .wenxintishi p {
        margin-bottom: 5px; }
  .botton-main .layui-row .layui-col-xs4:nth-child(2) {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5; }
  .botton-main .last-line .layui-col-xs4 {
    border-top: 1px solid #d5d5d5; }
    .botton-main .last-line .layui-col-xs4 img {
      margin-top: 10px; }
  .botton-main .layui-col-xs4 {
    padding: 0 16px 5px;
    text-align: center; }
    .botton-main .layui-col-xs4 img {
      padding: 2px 0;
      width: 2.1875em; }
    .botton-main .layui-col-xs4 h5 {
      padding: 2px 0;
      font-size: 12px;
      color: #0e0a00;
      font-weight: bold; }
    .botton-main .layui-col-xs4 p {
      padding: 2px 0;
      font-size: 10px;
      color: #555555;
      text-align: start; }

.banner-page2 .banner-img-hq, .banner-page3 .banner-img-hq {
  position: absolute;
  top: 44px;
  z-index: 5;
  right: 14px;
  left: 23px; }
.banner-page2 .banner-bottom, .banner-page3 .banner-bottom {
  position: absolute;
  height: 22px;
  width: 100%;
  background-color: #f2f2f2;
  bottom: 0; }
.banner-page2 .ban-bottom-img, .banner-page3 .ban-bottom-img {
  bottom: 22px; }
  .banner-page2 .ban-bottom-img img, .banner-page3 .ban-bottom-img img {
    height: auto; }

.form-title {
  text-align: center;
  font-size: 9px;
  color: #0e0a00;
  margin-top: 11px;
  margin-bottom: 29px; }

.help-block.help-block-error {
  border-color: #FF5722; }

label.help-block.help-block-error {
  color: #FF5722; }

.layui-form.form2 {
  padding: 0 15px;
  margin-bottom: 30px; }
  .layui-form.form2 input {
    background-color: #f7f7f7; }
  .layui-form.form2 .layui-form-item {
    margin-bottom: 10px; }
    .layui-form.form2 .layui-form-item .layui-form-label {
      width: 50px; }
    .layui-form.form2 .layui-form-item .layui-input-block {
      margin-left: 70px; }
    .layui-form.form2 .layui-form-item .required {
      color: #a9020c;
      font-size: 12px;
      padding-left: 2px; }
  .layui-form.form2 .col-item {
    cursor: pointer;
    padding: 0 12px; }

.serviceFlow {
  background: url("../img/index_bg2.png") no-repeat;
  background-size: cover;
  padding: 0 20px 56px 20px;
  color: #333333; }
  .serviceFlow .serviceFlow-title {
    padding-bottom: 10px;
    font-size: 14px;
    margin-top: 5px; }
  .serviceFlow .serviceFlow-container p {
    font-size: 10px;
    margin-bottom: 5px;
    line-height: 1.5; }

.layui-layer-page .layui-layer-content {
  max-height: 500px !important; }

.order-title {
  margin-top: 10px;
  font-size: 14px;
  padding: 10px 0 10px 12px;
  color: #0e0a00; }

.order-info {
  padding: 14px 12px; }
  .order-info p {
    font-size: 14px;
    margin-bottom: 6px;
    color: #0e0a00; }

.layui-form-label {
  padding: 9px 6px; }

.qr-code {
  padding-bottom: 20px; }
  .qr-code .code-img {
    margin: 0 auto;
    background: url("../img/tuoyuan.png") no-repeat;
    width: 103px;
    height: 103px;
    background-size: cover;
    position: relative; }
    .qr-code .code-img img {
      position: absolute;
      width: 58px;
      top: 26px;
      left: 50%;
      transform: translateX(-50%); }
  .qr-code p {
    font-size: 10px;
    color: #373737;
    margin-top: 6px; }

fieldset p {
  text-align: center;
  font-size: 9px;
  color: #1e1a12;
  padding: 10px 0; }

.red-packet-img {
  padding: 10px 18px; }

.table-row {
  display: table;
  color: #1e1a12;
  padding: 0 15px; }
  .table-row .col-item {
    display: table-cell;
    text-align: center;
    font-size: 12px;
    vertical-align: middle; }

.form3 {
  padding: 10px 18px; }
  .form3 .layui-form-label {
    width: 40px;
    padding: 9px 0; }
  .form3 .layui-input-block {
    margin-left: 55px; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .layui-btn {
    border-radius: 0;
    background-color: #12beb9;
    height: 40px; }

.layui-layer.layui-layer-page {
  border-radius: 15px;
  width: 300px !important; }

.layer_notice {
  display: none;
  padding: 15px; }
  .layer_notice .title {
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    color: #434a56;
    font-weight: 600;
    border-bottom: 1px solid #e7e9ef; }
  .layer_notice p {
    font-size: 13px;
    color: #596372;
    line-height: 2; }
  .layer_notice .notice-content {
    padding-top: 5px; }

.code-input .code-btn {
  position: absolute;
  background-color: #12beb9;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  height: 35px;
  line-height: 35px;
  padding: 0 6px; }

.layui-layer-shade, #layui-layer-2 {
  display: none; }

#layui-layer-2 {
  min-width: 270px;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 19891050; }

#layui-layer-2 .layui-layer-content {
  text-align: center; }

#layui-layer-2 .layui-layer-btn-c {
  padding: 0; }

#layui-layer-2 .layui-layer-btn-c .layui-layer-btn0 {
  margin: 0;
  border-radius: 0;
  height: 35px;
  line-height: 35px;
  border: none; }

/*# sourceMappingURL=custom.css.map */
