<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supadata.dao.RoomSettingMapper" >
  <resultMap id="BaseResultMap" type="com.supadata.pojo.RoomSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="set_id" property="setId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="rs_remark" property="rsRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, room_id, set_id, update_time, rs_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_room_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_room_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.supadata.pojo.RoomSetting" >
    insert into tb_room_setting (id, room_id, set_id, 
      update_time, rs_remark)
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{setId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{rsRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.supadata.pojo.RoomSetting" >
    insert into tb_room_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="setId != null" >
        set_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="rsRemark != null" >
        rs_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="setId != null" >
        #{setId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rsRemark != null" >
        #{rsRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.supadata.pojo.RoomSetting" >
    update tb_room_setting
    <set >
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="setId != null" >
        set_id = #{setId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rsRemark != null" >
        rs_remark = #{rsRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supadata.pojo.RoomSetting" >
    update tb_room_setting
    set room_id = #{roomId,jdbcType=INTEGER},
      set_id = #{setId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      rs_remark = #{rsRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>