<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supadata.dao.StudentCardMapper" >
  <resultMap id="BaseResultMap" type="com.supadata.pojo.StudentCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sc_remark" property="scRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_name, card_number, update_time, sc_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_student_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_student_card
    where 1 = 1
    <if test="key != null" >
      and card_number = #{key}
    </if>
  </select>
  <select id="selectByNumber" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_student_card
    where card_number = #{number}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_student_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.supadata.pojo.StudentCard" >
    insert into tb_student_card (id, student_name, card_number, 
      update_time, sc_remark)
    values (#{id,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{scRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true"  keyProperty="id" parameterType="com.supadata.pojo.StudentCard" >
    insert into tb_student_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="scRemark != null" >
        sc_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scRemark != null" >
        #{scRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.supadata.pojo.StudentCard" >
    update tb_student_card
    <set >
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scRemark != null" >
        sc_remark = #{scRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.supadata.pojo.StudentCard" >
    update tb_student_card
    set student_name = #{studentName,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sc_remark = #{scRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>